<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

      <title>Add Subject</title>

</head>


<body>


      <h2>Add New Subject</h2>


      <form th:action="@{/admin/add-subject}" method="post">


            <label>
                  Subject Name:
            </label>


            <input type="text" name="name" placeholder="Enter Subject Name">


            <br><br>


            <label>
                  Class:
            </label>


            <select name="className">


                  <option value="1">
                        Class 1
                  </option>

                  <option value="2">
                        Class 2
                  </option>

                  <option value="3">
                        Class 3
                  </option>

                  <option value="4">
                        Class 4
                  </option>

                  <option value="5">
                        Class 5
                  </option>

                  <option value="6">
                        Class 6
                  </option>

                  <option value="7">
                        Class 7
                  </option>

                  <option value="8">
                        Class 8
                  </option>

                  <option value="9">
                        Class 9
                  </option>

                  <option value="10">
                        Class 10
                  </option>

                  <option value="11">
                        Class 11
                  </option>

                  <option value="12">
                        Class 12
                  </option>


            </select>


            <br><br>


            <button type="submit">
                  Add Subject
            </button>


      </form>


</body>

</html>