<div th:fragment="about">

    <section class="py-16 flex items-center justify-center px-5 bg-gray-100">

        <div class="bg-white shadow-xl rounded-xl 
        max-w-5xl w-full 
        grid md:grid-cols-2 gap-8 p-8">

            <div>
                <img th:src="@{/images/school_logo.png}" class="rounded-xl w-full h-82 object-cover">
            </div>

            <div class="flex flex-col justify-center">

                <h1 class="text-4xl font-bold text-blue-900 mb-4">
                    About EduSphere
                </h1>

                <p class="text-sm md:text-base text-gray-600 leading-7">

                    JRP School is a unique co-educational English medium school established on 02 April, 2013 Tuesday at
                    01:30 pm affiliated to CBSE Board, New Delhi from class nursery to X located in calm, pleasant and
                    pollution free atmosphere in rural area.

                    <br>

                    JRPS is a humble beginning in the enormous field of education with a mission of generating
                    discipline, leadership and team spirit qualities, developing confidence, rising the internal
                    activity and above all love & cooperation for fellow human beings. The school realize its mission
                    through the guidance of advisory board and management.

                    <br>

                    JRPS believes in the concept of "Education helping, brightening the future". Education is an
                    essential tool for bright future for all of us. We can achieve anything good in the life using the
                    tool of education.

                </p>

            </div>

        </div>

    </section>

</div>